@font-face {
    font-family: 'Babas Neue';
    src: url(font/BebasNeue-Regular.ttf) format('ttf');
}

body {
    color: white;
    font-family: 'Bebas Neue';
    background-color:black;
    min-width: 620px;
}

p, h3{
    margin: 0.3em;
}

.letters {
    border-radius: 0.625em;
    width: 2.5em;
    height: 2.25em;
    background-color: white;
    /* color: navy; */
}
#title {
    position: relative;
    text-align: center;
    font-size: 3.125em;
}

#hiddenPhrase {
    text-align: center;
    font-size: 1.875em;
    margin: 0em;
    padding: 0em;
}

#buttonParent {
    text-align: center;
}

#buttons {
    display: inline-block;
    
}
button {
    font-size: 1.5625em;
    margin: 0.6125em;
    font-family: Arial, Helvetica, sans-serif;
}

#scoreboard {
    position: relative;
}

#hangmanContainer {
    position: relative;
    text-align: center;
    min-height: 500px;
}

#hangmanBox {
    margin: 0em;
}

#hangmanImage {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 500px;
    position: relative;
    top: 3em;
}

#resetContainer {
    text-align: center;
}

#resetButton {
    display: inline-block;
    background-color: white;
}

#container {
    position: relative;
    text-align: center;
}
.flex_container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0em;
   
}
.flex_container, #box {
    
    width:31.25em;
    margin: 0.625em;
    text-align: center;
    line-height: 1.25em;
    font-size: 1.25em;
}
.display_box {
    display: inline-block;
    height: 3.125em;
    text-align: center;
}
#definition {
    font-size: 1.25em;
    color: yellow;
    padding: 0.625em;
    font-family: 'ariel', sans-serif;
}