body {
    background-image: url("images/background.jpg");
    color: white;
    font-family: 'Kalam';
}

#title {
    text-align: center;
}

#hiddenPhrase {
    text-align: center;
}

#buttonParent {
    text-align: center;
}

#buttons {
    display: inline-block;
    
}
button {
    font-size: 25px;

}

#scoreboard {
    position: absolute;
}

#hangmanContainer {
    text-align: center;
}

#hangmanImage {
    display: inline-block;
    /* margin-left: auto;
    margin-right: auto; */
}